[package]
name = "linkerd2-proxy-api"
version = "0.1.6"
authors = ["Oliver Gould <ver@buoyant.io>"]
publish = false

[features]
default = []
arbitrary = ["quickcheck", "rand"]

[dependencies]
bytes = "0.4"
futures = "0.1"
h2 = "0.1"
http = "0.1"
prost = "0.4.0"
prost-derive = "0.4.0"
prost-types = "0.4.0"

tower-grpc = { git = "https://github.com/tower-rs/tower-grpc", default-features = false, features = ["protobuf"] }

quickcheck = { version = "0.8", default-features = false, optional = true }
rand = { version = "0.6", optional = true }

[build-dependencies]
tower-grpc-build = { git = "https://github.com/tower-rs/tower-grpc", default-features = false }

