[package]
name = "linkerd2-proxy-api"
version = "0.1.4"
authors = ["Oliver Gould <ver@buoyant.io>"]
publish = false

[features]
default = []
arbitrary = ["quickcheck"]

[dependencies]
bytes = "0.4"
futures = "0.1"
h2 = "0.1"
http = "0.1"
prost = "0.4.0"
prost-derive = "0.4.0"
prost-types = "0.4.0"

tower-grpc = { git = "https://github.com/tower-rs/tower-grpc" }
tower-h2   = { git = "https://github.com/tower-rs/tower-h2" }

quickcheck = { version = "0.6", default-features = false, optional = true }


[build-dependencies]
tower-grpc-build = { git = "https://github.com/tower-rs/tower-grpc" }

