name: go

on:
  pull_request:
    paths:
      - go.*
      - '**/*.go'
      - '**/*.proto'
      - justfile
      - .github/workflows/go.yml

permissions:
  contents: read

jobs:
  go:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container: docker://ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - run: just go-mod-check
      - run: just go-gen-check
      - run: just go-build
