name: go

on:
  pull_request:
    paths:
      - go.*
      - '**/*.go'
      - '**/*.proto'
      - justfile
      - .github/workflows/go.yml

permissions:
  contents: read

jobs:
  go:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    container: docker://ghcr.io/linkerd/dev:v48-go
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - run: just go-mod-check
      - run: just go-gen-check
      - run: just go-build
